
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');



.playfair-heading {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900; /* Adjust as needed: 300 to 900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  